* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #292a3c;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 300px 15px 300px;
}

nav{
    padding-top: 5px;
}

nav a{
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

section.cover{
    background-image: url("../img/perpus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
    padding-top: 120px;
}

section.cover::after{
    content: '';
    width: 100%;
    height: 100%;
    bottom: 0;
    display: block;
    position: absolute;
    opacity: 75%;
    background-color: #000;
}

section.cover div.container{
    z-index: 1;
    position: relative;
}

section.cover div.container h1, section.cover div.container p {
    color: white;
    text-align: center;
}

section.cover div.container p.tombol-cta{
    margin-top: 50px;
}

section.cover div.container p a{
    color: rgb(113, 77, 240);
    text-decoration: none;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

section.buku{
    padding: 15px 300px 15px 300px;
}

div.list-buku{
    display: flex;
}

div.card {
    margin-top: 10px;
    margin-right: 20px;
    border: 3px rgb(236, 230, 236);
    width: min-content;
    padding: 20px;
    border-radius: 10px;
}

div.card img {
    width: 200px;
    border-radius: 13px;
}

div.card p {
    margin-bottom: 38px;
    margin-top: 10px;
}

div.card p.btn-beli {
    text-align: center;
    width: 100%;
}

div.card a {
    text-decoration: none;
    width: 100% !important;
    background-color: #292a3c;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

footer{
    background-color: rgb(113, 77, 240);
    padding: 15px;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
    text-align: center;
}